{{ form_start(form) }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content) }}
    <br><button class="comment-submit btn btn-sm btn-primary" class="btn">{% trans %}Comment{% endtrans %}</button>
{{ form_end(form) }}
