{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Users</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.displayName }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}