{% extends 'base.html.twig' %}

{% block body %}
        <h1>Recent activities</h1>
        <h1>Admin tools</h1>
        <p> Post
            <a href="{{ path('post_new')}}" class="pull-right btn btn-link">
                <span class="fa fa-pencil"></span>
            </a>
        </p>
{% endblock %}