<div id="post-container">
    {# table body #}
    {% for post in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>
                <h2>
                    {{ post.title }}
                    <a href="{{ path('post_show', { post: post.slug }) }}">
                        <i class="fas fa-hand-point-up"></i>
                    </a>
                </h2>
                <p>{{ post.dateCreated|date('j.m.Y')}}</p>
            </td>
        </tr>

    {% endfor %}

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
    