{% extends 'base.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block body %}
    <h3>Create new Tag</h3>
    {{ include('tag/_form.html.twig') }}
    <a href="{{ path('tag_index') }}">back to list</a>
{% endblock %}
